.header{
    width: 100%;
    display: flex;
}
.header_heading{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: large;

}
.header__buttons{
    width: 25%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    margin-right: 18px;
    margin-top: 5px;
}
.hButton{
    font-size: larger;
    font-family: sans-serif;
}
.hButton:hover{
    cursor: pointer;
}